@media (max-width: 1156px) {
  /* ---------- SECTION HEADER ---------- */

  #header {
    padding:20px 0;
    width: 100%;
    /* justify-content: space-between; */
    position: relative;
  }
  .hidden{
    display: none;
  }
.navbar-title{
  margin-left: 20px;
}
  .menu-icon{
    display:block;
    align-self: end;
    margin-right: 10px;
    font-size: 22px;
  }

  #check:checked ~ .hidden{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 78px;
    position: absolute;
    background-color: #000000e2;
    z-index: 1001;
    animation: slide 0.7s ease-in-out;
  }
  
  @keyframes slide {
    0%{
      width: 0;
    }
    100%{
      width: 100%;
    }
  }
  .navbar-menu {
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  .navbar-menu li a{
    font-size: 22px;
  }

  
  .circle {
    left: 65%;
  }

  /* ---------- SECTION BODY CONTENT ---------- */

  #content-body {
    height: 110vh;
    /* overflow-y: scroll; */
  }

  .body-title h1 {
    font-size: 28px;
  }

  /* ----------INTRODUCTION---------- */

  #introduction {
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }

  .cards {
    flex-direction: row;
    width: 100%;
    margin-top: 7%;
    gap: 20px;
  }

  .design-card {
    width: 32%;
  }

  .introduction-text {
    width: 100%;
    text-align: center;
    margin-left: 20px;
  }

  .introduction-text p:nth-child(1) {
    font-size: 20px;
  }
  .introduction-text p {
    text-align: justify;
  }

  .introduction-text h2 {
    font-size: 29px;
  }

  /* ----------LATEST WORKS---------- */

  #latest-works {
    flex-direction: column;
  }

  .right-project {
    flex-direction: row;
  }

  /* ----------TESTIMONIAL---------- */

  #testimonial {
    width: 80%;
    padding: 100px 20px;
    height: max-content;
  }

  .testimonial-title {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .testimonial-title h2 {
    font-size: 30px;
  }

  /* ----------FOOTER---------- */
  #footer {
    height: max-content;
  }
}

@media (max-width: 850px) {
  
#header{
  padding: 0;
  width: 100vw;

}
.navbar-menu{
  margin-top: 120px;
}
.social-media{
  flex-direction: column;
  margin-top: 80px;
}
#content-body{
  width: 100vw;
  padding: 20px 0 0 20px;
}
.circle{
  display: none;
}
.hoodie-guy{
  top: 20px;
  width: 300px;
  height: 350px;
  z-index: 4;
  
  /* display: none; */
}
.background-circle{
  background: url(/public/code.png);
  background-size: cover;
  filter: blur(2px);
  z-index: 2;
  width: 300px;
  height: 300px;
  /* background-position: center; */
}

#check:checked ~ .hidden {
  top: 40px;
  justify-content: start;
}
}


@media (max-width:600px){
  .hoodie-guy{
    display: none;
  }
  .background-circle{
  display: none;
  }
}
